body
{
    background-color: #e8edfc;
}

#myNav
{
    padding: 1%;
    background-color: blueviolet;
    color: white;
    box-shadow: 0px 2px 0px 0px grey;
}

#myTitle
{
    margin-left: 5%;
    font-size: 150%;
}

#myContent
{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2%;
    z-index: -1;
    text-align: center;
}

#imgDiv
{
    background-color: #ffffff;
    padding: 0.5%;
    margin: 1px solid grey;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

img
{
    width: 100%;   
}

#refresh
{
    display: flex;
    margin: 2%;
    background-color: white;
    padding: 10px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: blueviolet;
    border-radius: 50%;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16), 0 0 0 2px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

#loader
{
    width: 50%;
    margin: 10%;
}

#loader-div
{
    background-color: #ffffff;
    text-align: center;
    padding: 10px;
    position: fixed;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16), 0 0 0 2px rgba(0, 0, 0, 0.08);
    border-radius: 5%;
    color: blueviolet;
    display: none;
}


